<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

<script type="text/javascript" charset="utf-8">
 jQuery(function(){
  jQuery("#dateEvenement").datepicker(
		  {
				inline: true,
				nextText: '&rarr;',
				prevText: '&larr;',
				yearRange: "-0:+50",
				showOtherMonths: true,
				dateFormat: 'dd/mm/yy',
				dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
				//showOn: "button",
				//buttonImage: "img/calendar-blue.png",
				//buttonImageOnly: true,
				changeYear: true,
				changeMonth: true,
				firstDay: 1
				
			}
		  );
 });
</script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
var yearFilter = document.getElementById("yearFilter");
var periodFilter = document.getElementById("periodFilter");

var year = /*[[${yearFilter}]]*/ ;
var currentYear = new Date().getFullYear();
if(year != null){
currentYear = year ;
	
}

for (var i = 2050; i >= 2017; i--) {
    var option = document.createElement("option");
    option.value = i;
    option.innerHTML = i;
    
		if(i == currentYear) {
			option.selected = true ;
			}
    yearFilter.appendChild(option);
}

var periode = ["Automne" , "Hiver", "Printemps", "Ete"] ;
var periodSelected = /*[[${periodFilter}]]*/
for (var z = 0 ; z <= 3 ; z++ ){
	var option = document.createElement("option");
	option.value = periode[z] ;
	if (periode[z] == periodSelected){
		option.selected = true ;
		}
	option.innerHTML = periode[z];
	periodFilter.appendChild(option);
}


});
/*]]>*/
</script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
var yearFilter = document.getElementById("yearFilterEvent");
var monthFilter = document.getElementById("monthFilterEvent");
var periodFilter = document.getElementById("periodFilterEvent");

var year = /*[[${yearFilterEvent}]]*/ ;
var currentYear = new Date().getFullYear();
if(year != null){
currentYear = year ;
	
}

for (var i = 2050; i >= 2017; i--) {
    var option = document.createElement("option");
    option.value = i;
    option.innerHTML = i;
    
		if(i == currentYear) {
			option.selected = true ;
			}
    yearFilter.appendChild(option);
}

var months = ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"];
var monthSelected = /*[[${monthFilterEvent}]]*/
for (var j = 0 ; j <= 11 ; j++ ){
	var option = document.createElement("option");
	option.value = j ;
	if (j == monthSelected){
		option.selected = true ;
		}
	option.innerHTML = months[j];
	monthFilter.appendChild(option);
}

var periode = ["Automne" , "Hiver", "Printemps", "Ete"] ;
var periodSelected = /*[[${periodFilterEvent}]]*/
for (var z = 0 ; z <= 3 ; z++ ){
	var option = document.createElement("option");
	option.value = periode[z] ;
	if (periode[z] == periodSelected){
		option.selected = true ;
		}
	option.innerHTML = periode[z];
	periodFilter.appendChild(option);
}

$("#yearFilterEvent").change(function(){
	monthFilter.value = null ;
	periodFilter.value = null ;  
	document.getElementById("filterForm").submit();
});
$("#monthFilterEvent").change(function(){
	periodFilter.value = null ;  
	document.getElementById("filterForm").submit();
});

$("#periodFilterEvent").change(function(){
	monthFilter.value = null ;  
	document.getElementById("filterForm").submit();
});

$("#nomSalle").change(function(){
	var input = document.getElementById("lieuEvent") ;
	var compagnie = document.getElementById("compagnie") ;
	var salleChoisie = this.options[this.selectedIndex].text ;
	if (salleChoisie == "3T" || salleChoisie == "PRIVÉ"){
		compagnie.options.namedItem("compagnie37").selected=true;
		}
	else {
		compagnie.options.namedItem("compagnie333").selected=true;
		}
	
	if (this.value == "PRIVÉ")	{
		input.type = "text";
		}
	else{
		input.type = "hidden";
		}
});
});
/*]]>*/
</script>

<script>
$(document).ready(function(){

$("#listeEvenementSelect option").each(function () {
var optionText	= $(this).text() ;
var reg = new RegExp("[-: ]+", "g");
if (optionText != "Choisir un evènement"){
	var textSpec = optionText.split(" - ");
	var textTab = textSpec[0].split(reg);
	
	var textMEF = textTab[2]+"-"+textTab[1]+"-"+textTab[0]+" "+textTab[3]+":"+textTab[4]+" "+textSpec[1];
$(this).text(textMEF);
}	
});

var dateLabel = $("#dateEvenementModif").text() ;
var reg2 = new RegExp("[- :]+", "g") ;
var tab = dateLabel.split(reg2);
$("#dateEvenementModif").text(tab[2]+"-"+tab[1]+"-"+tab[0]+" "+tab[3]+":"+tab[4]);
	
});
</script>
<title>Merci Qui ?</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="panel panel-primary">
			<iframe id="googleFrame"
				src="https://calendar.google.com/calendar/embed?src=les3tcafetheatreagenda%40gmail.com"
				style="border: 0" width="800" height="600"> </iframe>
		</div>
		<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Saisie d'un Evènement</div>
			<div class="panel-body">
				<form th:action="@{/saisieEvenement}" method="post">
					<div>
						<label>Date : </label> <input id="dateEvenement" type="datetime" name="dateEvenement" />
					</div>

					<div>
						<label>Heure : </label><select name="heureEvenement">
						<option value="10:00">10:00</option>
						<option value="10:30">10:30</option>
						<option value="11:00">11:00</option>
						<option value="11:30">11:30</option>
						<option value="12:00">12:00</option>
						<option value="12:30">12:30</option>
						<option value="13:00">13:00</option>
						<option value="13:30">13:30</option>
						<option value="14:00">14:00</option>
						<option value="14:30">14:30</option>
						<option value="15:00">15:00</option>
						<option value="15:30">15:30</option>
						<option value="16:00">16:00</option>
						<option value="16:30">16:30</option>
						<option value="17:00">17:00</option>
						<option value="17:30">17:30</option>
						<option value="18:00">18:00</option>
						<option value="18:30">18:30</option>
						<option value="19:00" selected="true">19:00</option>
						<option value="19:30">19:30</option>
						<option value="20:00">20:00</option>
						<option value="20:30">20:30</option>
						<option value="21:00">21:00</option>
						<option value="21:30">21:30</option>
						<option value="22:00">22:00</option>
						<option value="22:30">22:30</option>
						<option value="23:00">23:00</option>
						<option value="23:30">23:30</option>
						</select></div>
					
					<div>
						<label>Spectacle : </label> <select name="nomSpectacle">
								<option th:value="${o.nomSpectacle}" th:text="${o.nomSpectacle}" th:each="o:${listeSpectacles}" />
							</select>
					</div>
					<div>
						<label>Salle : </label> <select id="nomSalle" name="nomSalle">
						<option disabled="true" selected="true">Choisir une salle</option>
						<option value="3T">3T</option>
						<option value="3T D'A COTE">3T D'À CÔTÉ</option>
						<option value="GRANDE SALLE">GRANDE SALLE</option>
						<option value="PRIVÉ">PRIVÉ</option>
						</select>
					</div>
					<div>
					<input id="lieuEvent" name="lieuEvent" type="hidden" placeholder="Entrez le lieu"></input>
					</div>
					<div>
					<label>Compagnie : </label>
					<select id="compagnie" name="compagnie">
						<option disabled="true" selected="true">Choisir une compagnie</option>
						<option id="compagnie37" name="compagnie37" value="Compagnie 37">Compagnie 37</option>
						<option id="compagnie333" name="compagnie333" value="Compagnie 333+1">Compagnie 333+1</option>
						</select>
						</div>
					<br/>
					<div>
					<input class="checkbox-primary" name="notifications" type="checkbox" /><label>Notifications</label>
					</div>

					<button type="submit" class="btn btn-primary">Ajouter
						Evènement</button>
				</form>
				<div class="text-danger" th:if="${error}" th:text="${error}"></div>
			</div>
		</div>
		<div class="panel panel-primary">
				<div class="panel-heading">Liste des Evènements</div>
				<div class="panel-body">
					<form id="filterForm" th:action="@{/consulterCalendrier}" method="get">
					<div>
							<select id="yearFilterEvent" name="yearFilterEvent" ></select>
							<select id="periodFilterEvent" name="periodFilterEvent"><option disabled="true" selected="true">Période</option></select>
							<select id="monthFilterEvent" name="monthFilterEvent"><option disabled="true" selected="true">Mois</option></select>
							</div>
							<br/>
							<select id="listeEvenementSelect" name="idEvenement" onchange="this.form.submit()">
							<option disabled="true" selected="true">Choisir un evènement</option>
								<option th:value="${o.idEvenement}" th:text="${o.dateEvenement +' - '+ o.spectacle.nomSpectacle}" th:each="o:${listeEvenements}" 
								th:selected="(${o.idEvenement} == ${idEvenement})"/>
							</select>					
 				</form>
					
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Envoyer les calendriers</div>
				<div class="panel-body">
					<form th:action="@{/sendEmail}" method="get" onsubmit="return confirm('Etes-vous sur de vouloir valider le calendrier ?');">
							<select id="yearFilter" name="yearFilter" ></select>
							<select id="periodFilter" name="periodFilter"><option disabled="true" selected="true">Période</option></select>
							<button type="submit" class="btn btn-primary">Valider l'agenda</button>				
 				</form>
					
				</div>
			</div>
		</div>
		<div class="col-md-6">
		<div class="panel panel-primary" th:if="${evenement}">
			<div class="panel-heading">Informations Evènement</div>
			<div class="panel-body">
				<form th:action="@{/modifierEvenement}" method="post">
				<input type="hidden" name="idEvenement" th:value="${evenement.idEvenement}" />
					<div>
						<label>Date : </label> <label id="dateEvenementModif" type="text" th:text="${evenement.dateEvenement}" />
					</div>

					<div>
						<label>Spectacle : </label> <a th:href="${'/consulterSpectacle?nomSpectacle=' + evenement.spectacle.nomSpectacle}"><label name="nomSpectacle" th:text="${evenement.spectacle.nomSpectacle}" /></a>
								
					</div>
					<div>
						<label>Salle : </label> <label name="nomSalle" th:text="${evenement.nomSalle}" />
					</div>
					<div>
						<div>
					<label>Compagnie : </label>
					<select id="compagnieModif" name="compagnieModif">
						<option id="compagnie37" name="compagnie37" value="Compagnie 37" th:selected="${evenement.compagnie == 'Compagnie 37'}">Compagnie 37</option>
						<option id="compagnie333" name="compagnie333" value="Compagnie 333+1" th:selected="${evenement.compagnie == 'Compagnie 333+1'}">Compagnie 333+1</option>
						</select>
						</div>
					</div>
					<br/>
					<div>
					<label>Distribution : </label>
					</div>
					<div>
					<table class="table table-striped" >
				<tr>
				<th>Nom Rôle</th><th>Nom Comédien</th>
				</tr>
				<tr th:each="o:${listeRoles}" >
				<td th:text="${o.nomRole}"></td>
				<td><select name="id3T"><option th:value="${o.idRole+'.'+e.id3T}" th:text="${e.nomPersonne +' ' + e.prenomPersonne}" th:each="e:${listeComediensParRole.get(o.nomRole)}" th:selected="${e == evenement.distribution.get(o.idRole)}"></option></select></td>
				</tr>
				</table>
					</div>
					<div>
					<input class="checkbox-primary" name="notificationsModif" type="checkbox" /><label>Notifications</label>
					</div>
					<div>
					<button type="submit" class="btn btn-primary">Modifier
						Evènement</button>
						</div>
						<div class="text-danger" th:if="${errorModif}" th:text="${errorModif}"></div>
						<br/>
				</form>
				<div class="text-danger" th:if="${error}" th:text="${error}"></div>
			
			<div>
			<form th:action="@{/supprimerEvenement}" method="post" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet evenement ?');">
			<input type="hidden" name="idEvenement" th:value="${evenement.idEvenement}" />
			<div>
					<input class="checkbox-primary" name="notificationsSuppr" type="checkbox" /><label>Notifications</label>
					</div>
			<button type="submit" class="btn btn-primary">Supprimer
						Evènement</button>
			</form>
			</div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>