<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
$(document).ready(function(){

    var select = $("#nbRoles") , table = $("#roleNames") ; 
    
    for (var i = 0; i <= 20; i++) {
        select.append('<option value="'+i+'">'+i+'</option>');
    }


    select.change(function () {
        var rows = '';
        var heads = "<tr><th>Role</th><th>Comedien</th></tr>" ;
      	var comediens = [[${listeComediens}]] ;
        for (var i = 0; i < $(this).val(); i++) {
            rows += "<tr><td><input type='text' name='nomRole'/></td><td><select name='id3T'><option disabled selected value>Choisir un comédien</option>" ;
			
             comediens.forEach(function(comedien) {
    			rows += "<option value=\""+comedien.id3T+"\">"+comedien.id3T+" - "+comedien.nomPersonne+" "+comedien.prenomPersonne+"</option>" ;
                });
             rows += "</select></td></tr>";  
             table.html(heads + rows); 
        }
        
        
    });

});
/*]]>*/
</script>
<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
<title>Merci Qui ?</title>
</head>
<body>
<div layout:fragment="content">
		<div class="col-md-6">
		<div class="panel panel-primary">
				<div class="panel-heading">Liste des Spectacles</div>
						<div class="panel-body">
						<input type="hidden"
								name="nomSpectacle" th:value="${nomSpectacle}" />
						<form th:action="@{/consulterSpectacle}" method="get">
							<select name="nomSpectacle" onchange="this.form.submit()">
								<option th:value="${o.nomSpectacle}" th:text="${o.nomSpectacle}" th:each="o:${listeSpectacles}" 
								th:selected="(${o.nomSpectacle} == ${nomSpectacle})"/>
							</select>
							</form>
						</div>
				</div>
		<div class="panel panel-primary" th:if="${spectacle}">
				<div class="panel-heading">Informations</div>
				<div class="panel-body">
				<form th:action="@{/supprimerSpectacle}" method="post">
				<input type="hidden" name="nomSpectacle" th:value="${spectacle.nomSpectacle}" />
						<div>
						<label>Nom : </label> <label th:text="${nomSpectacle}"></label>
					</div>
					<div>
					<table class="table table-striped" >
				<tr>
				<th>Nom Rôle</th><th>Titulaire</th><th>Liste Remplaçants</th>
				</tr>
				<tr th:each="o:${listeRoles}" >
				<td th:text="${o.nomRole}"></td>
				<td th:text="${o.comedien.nomPersonne +' '+o.comedien.prenomPersonne}"></td>
				<td>Sarah DIGNE</td>
				</tr>
				</table>
					</div>
					<br/>
					<div>
					<button type="submit" class="btn btn-primary">Supprimer Spectacle</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary" >
				<div class="panel-heading">Saisie d'un Spectacle</div>
				<div class="panel-body">
					<form th:action="@{/saisieSpectacle}" method="post">
							<div>
							<label>Nom : </label> <input type="text"
								name="nomSpectacle" /></div>
							<div><label>Nombre de rôles : </label>
							<select id="nbRoles">
 							</select>
							</div>
							<div>
							<table id="roleNames" class="table table-striped" ></table>
							</div>
							<button type="submit" class="btn btn-primary">Ajouter le spectacle</button>
					</form>
				</div>
			</div>
		</div> 
</div>
</body>
</html>